# 1. Missing Value Handling

### Data Loading

In [1]:
import pandas as pd

df_soccer = pd.read_csv('soccer.csv')

In [2]:
df_soccer

    PlayerNo  Age Position  Height  Weight  Goals  Assists
0          8   27       FW   185.0    77.5   13.0      4.0
1         10   31       FW   178.0    71.2   13.0      0.0
2         13   38       FW   182.0    69.8    9.0      1.0
3         21   39       FW     NaN    66.9   14.0      0.0
4          9   27       FW   179.0    74.1   12.0      NaN
5         12   27       FW   185.0    81.5   12.0      1.0
6          3   28       FW   171.0    58.9   10.0      0.0
7          7   37       MF     NaN    62.8   11.0     11.0
8         11   40       MF   174.0    65.6    5.0     13.0
9          4   40       MF   179.0    70.1    NaN      6.0
10        20   33       MF   176.0    65.4    9.0     12.0
11        14   24       MF   180.0    75.0    8.0     10.0
12         2   33       MF     NaN    74.0   11.0     11.0
13         6   26       MF   172.0    69.8    6.0      7.0
14        19   26       MF   175.0    68.5   11.0      6.0
15        15   39       DF   177.0    72.3    2.0      7.0
16         5   25       DF     NaN    71.1    4.0      5.0
17        17   32       DF   170.0    68.0    4.0      6.0
18        23   32       DF   169.0    65.1    0.0      7.0
19        22   32       DF   168.0    65.2    4.0      5.0
20        18   40       DF     NaN    65.2    0.0      6.0
21        16   29      NaN   173.0    63.7    0.0      0.0
22         1   30       GK   178.0    66.2    0.0      0.0

In [3]:
# size of dataframe (#row, #col)
df_soccer.shape

(23, 7)

### Check Missing Values

In [4]:
# check missing values (True if missing, False if not missing)
df_soccer.isna()

    PlayerNo    Age  Position  Height  Weight  Goals  Assists
0      False  False     False   False   False  False    False
1      False  False     False   False   False  False    False
2      False  False     False   False   False  False    False
3      False  False     False    True   False  False    False
4      False  False     False   False   False  False     True
5      False  False     False   False   False  False    False
6      False  False     False   False   False  False    False
7      False  False     False    True   False  False    False
8      False  False     False   False   False  False    False
9      False  False     False   False   False   True    False
10     False  False     False   False   False  False    False
11     False  False     False   False   False  False    False
12     False  False     False    True   False  False    False
13     False  False     False   False   False  False    False
14     False  False     False   False   False  False    False
15     False  False     False   False   False  False    False
16     False  False     False    True   False  False    False
17     False  False     False   False   False  False    False
18     False  False     False   False   False  False    False
19     False  False     False   False   False  False    False
20     False  False     False    True   False  False    False
21     False  False      True   False   False  False    False
22     False  False     False   False   False  False    False

In [5]:
# ratio of missing values by column
df_soccer.isna().sum(axis=0) / df_soccer.shape[0]

PlayerNo    0.000000
Age         0.000000
Position    0.043478
Height      0.217391
Weight      0.000000
Goals       0.043478
Assists     0.043478
dtype: float64

### Missing value handling

#### (1) Drop columns with many missing values
E.g., remove columns with the ratio of missing values >= 20%

In [6]:
threshold = 0.2

# which columns will be dropped?
df_soccer.isna().sum(axis=0) / df_soccer.shape[0] >= threshold

PlayerNo    False
Age         False
Position    False
Height       True
Weight      False
Goals       False
Assists     False
dtype: bool

In [7]:
# drop "Height" column
df_soccer_v2 = df_soccer.drop(['Height'], axis=1)

In [8]:
df_soccer_v2

    PlayerNo  Age Position  Weight  Goals  Assists
0          8   27       FW    77.5   13.0      4.0
1         10   31       FW    71.2   13.0      0.0
2         13   38       FW    69.8    9.0      1.0
3         21   39       FW    66.9   14.0      0.0
4          9   27       FW    74.1   12.0      NaN
5         12   27       FW    81.5   12.0      1.0
6          3   28       FW    58.9   10.0      0.0
7          7   37       MF    62.8   11.0     11.0
8         11   40       MF    65.6    5.0     13.0
9          4   40       MF    70.1    NaN      6.0
10        20   33       MF    65.4    9.0     12.0
11        14   24       MF    75.0    8.0     10.0
12         2   33       MF    74.0   11.0     11.0
13         6   26       MF    69.8    6.0      7.0
14        19   26       MF    68.5   11.0      6.0
15        15   39       DF    72.3    2.0      7.0
16         5   25       DF    71.1    4.0      5.0
17        17   32       DF    68.0    4.0      6.0
18        23   32       DF    65.1    0.0      7.0
19        22   32       DF    65.2    4.0      5.0
20        18   40       DF    65.2    0.0      6.0
21        16   29      NaN    63.7    0.0      0.0
22         1   30       GK    66.2    0.0      0.0

#### (2) Missing value imputation

1) **For numeric columns**, replace `NaN` with median for each column

In [9]:
# median for each column
# `numeric_only argument` can be set to True to include only numeric columns
df_soccer_v2.median(numeric_only=True)

PlayerNo    12.0
Age         32.0
Weight      68.5
Goals        8.5
Assists      6.0
dtype: float64

In [10]:
# Replace NaN with median for each column
df_soccer_v3 = df_soccer_v2.fillna(df_soccer_v2.median(numeric_only=True))

In [11]:
df_soccer_v3

    PlayerNo  Age Position  Weight  Goals  Assists
0          8   27       FW    77.5   13.0      4.0
1         10   31       FW    71.2   13.0      0.0
2         13   38       FW    69.8    9.0      1.0
3         21   39       FW    66.9   14.0      0.0
4          9   27       FW    74.1   12.0      6.0
5         12   27       FW    81.5   12.0      1.0
6          3   28       FW    58.9   10.0      0.0
7          7   37       MF    62.8   11.0     11.0
8         11   40       MF    65.6    5.0     13.0
9          4   40       MF    70.1    8.5      6.0
10        20   33       MF    65.4    9.0     12.0
11        14   24       MF    75.0    8.0     10.0
12         2   33       MF    74.0   11.0     11.0
13         6   26       MF    69.8    6.0      7.0
14        19   26       MF    68.5   11.0      6.0
15        15   39       DF    72.3    2.0      7.0
16         5   25       DF    71.1    4.0      5.0
17        17   32       DF    68.0    4.0      6.0
18        23   32       DF    65.1    0.0      7.0
19        22   32       DF    65.2    4.0      5.0
20        18   40       DF    65.2    0.0      6.0
21        16   29      NaN    63.7    0.0      0.0
22         1   30       GK    66.2    0.0      0.0

2) **For categorical columns**, replace `NaN` with mode for each column

we have one categorical column, `Position`

In [12]:
# frequency by value
df_soccer_v3['Position'].value_counts()

MF    8
FW    7
DF    6
GK    1
Name: Position, dtype: int64

In [13]:
# mode
df_soccer_v3['Position'].mode()

0    MF
Name: Position, dtype: object

In [14]:
# Replace NaN with mode
mode_of_position = 'MF' # or, df_soccer_v3['Position'].mode()[0]
df_soccer_v3['Position'] = df_soccer_v3['Position'].fillna(mode_of_position)

In [15]:
df_soccer_v3

    PlayerNo  Age Position  Weight  Goals  Assists
0          8   27       FW    77.5   13.0      4.0
1         10   31       FW    71.2   13.0      0.0
2         13   38       FW    69.8    9.0      1.0
3         21   39       FW    66.9   14.0      0.0
4          9   27       FW    74.1   12.0      6.0
5         12   27       FW    81.5   12.0      1.0
6          3   28       FW    58.9   10.0      0.0
7          7   37       MF    62.8   11.0     11.0
8         11   40       MF    65.6    5.0     13.0
9          4   40       MF    70.1    8.5      6.0
10        20   33       MF    65.4    9.0     12.0
11        14   24       MF    75.0    8.0     10.0
12         2   33       MF    74.0   11.0     11.0
13         6   26       MF    69.8    6.0      7.0
14        19   26       MF    68.5   11.0      6.0
15        15   39       DF    72.3    2.0      7.0
16         5   25       DF    71.1    4.0      5.0
17        17   32       DF    68.0    4.0      6.0
18        23   32       DF    65.1    0.0      7.0
19        22   32       DF    65.2    4.0      5.0
20        18   40       DF    65.2    0.0      6.0
21        16   29       MF    63.7    0.0      0.0
22         1   30       GK    66.2    0.0      0.0

In [16]:
# check whether all missing values are gone
df_soccer_v3.isna().sum()

PlayerNo    0
Age         0
Position    0
Weight      0
Goals       0
Assists     0
dtype: int64

# 2. Text handling

In [17]:
# Use lambda function
# Create the new value ('Current Position: FW') using the old value ('FW')
df_soccer_v3['Position'].apply(
    lambda x: 'Current Position: {}'.format(x))

0     Current Position: FW
1     Current Position: FW
2     Current Position: FW
3     Current Position: FW
4     Current Position: FW
5     Current Position: FW
6     Current Position: FW
7     Current Position: MF
8     Current Position: MF
9     Current Position: MF
10    Current Position: MF
11    Current Position: MF
12    Current Position: MF
13    Current Position: MF
14    Current Position: MF
15    Current Position: DF
16    Current Position: DF
17    Current Position: DF
18    Current Position: DF
19    Current Position: DF
20    Current Position: DF
21    Current Position: MF
22    Current Position: GK
Name: Position, dtype: object

In [18]:
# create a new column
df_soccer_v3['current_position'] = df_soccer_v3['Position'].apply(
    lambda x: 'Current Position: {}'.format(x))

In [19]:
df_soccer_v3

    PlayerNo  Age Position  Weight  Goals  Assists      current_position
0          8   27       FW    77.5   13.0      4.0  Current Position: FW
1         10   31       FW    71.2   13.0      0.0  Current Position: FW
2         13   38       FW    69.8    9.0      1.0  Current Position: FW
3         21   39       FW    66.9   14.0      0.0  Current Position: FW
4          9   27       FW    74.1   12.0      6.0  Current Position: FW
5         12   27       FW    81.5   12.0      1.0  Current Position: FW
6          3   28       FW    58.9   10.0      0.0  Current Position: FW
7          7   37       MF    62.8   11.0     11.0  Current Position: MF
8         11   40       MF    65.6    5.0     13.0  Current Position: MF
9          4   40       MF    70.1    8.5      6.0  Current Position: MF
10        20   33       MF    65.4    9.0     12.0  Current Position: MF
11        14   24       MF    75.0    8.0     10.0  Current Position: MF
12         2   33       MF    74.0   11.0     11.0  Current Position: MF
13         6   26       MF    69.8    6.0      7.0  Current Position: MF
14        19   26       MF    68.5   11.0      6.0  Current Position: MF
15        15   39       DF    72.3    2.0      7.0  Current Position: DF
16         5   25       DF    71.1    4.0      5.0  Current Position: DF
17        17   32       DF    68.0    4.0      6.0  Current Position: DF
18        23   32       DF    65.1    0.0      7.0  Current Position: DF
19        22   32       DF    65.2    4.0      5.0  Current Position: DF
20        18   40       DF    65.2    0.0      6.0  Current Position: DF
21        16   29       MF    63.7    0.0      0.0  Current Position: MF
22         1   30       GK    66.2    0.0      0.0  Current Position: GK